<h1>WELCOME TO THE STREAM PAGE</h1>

<div style="min-width: 104em">
  
  <iframe  *ngFor="let stream of streams" [src]="stream"
          height="400"
          width="711"
          frameborder="0"
          scrolling="false"
          allowfullscreen="true" style="margin-right: 1em"></iframe>
</div>



<!--<td >
  <iframe src="https://player.twitch.tv/?channel={{streamPair.first}}&muted=true"
          height="360"
          width="480"
          frameborder="0"
          scrolling="false"
          allowfullscreen="true"></iframe>
</td>
<td >
  <iframe src="https://player.twitch.tv/?channel={{streamPair.second}}&muted=true"
          height="360"
          width="480"
          frameborder="0"
          scrolling="false"
          allowfullscreen="true"></iframe>
</td>-->
